@import url(https://db.onlinewebfonts.com/c/e770a9e3ae1a8be2089472bc6391f697?family=Electronic+Arts+Display);
*{
    margin: 0;
    padding: 0;
    font-family: electronic arts display, sans-serif;
}
.nav-ea{
    background-color: rgb(31, 31, 31);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.nav-ea img{
    border-radius: 3%;
    color: white;
}

.user{
    height: 1.3vw;
    width: 1.2vw;
    padding-top: 1.5vh; 
    padding-right: 3.4vh;
}
.ea-logo{
    height: 2vw;
    width: 2.5vw;
    padding: 0.7vh 3vh; 
}
.help{
    height: 2vw;
    width: auto;
    padding: 0.7vh 3vh; 
}
.nav-barra{
    background-color: white;
    display: flex;
    align-items: center;
    height: 3rem;
    width: 100%;
    position:fixed;
}
.nav-barra .icono-tres-puntos{
    height: 1.5rem;
    width: auto;
    margin-right: -15px;
    margin-left: -5px;
}
.nav-barra .ea-logo-2{
    height: 2rem;
    margin-right: 20px;
    margin-left: 10px;
    width: auto;
}
.nav-barra a{
    margin-left: 20px;
    color: black;
}
.about{
    background-image: url("https://media.contentapi.ea.com/content/dam/ea/fc/fc-26/images/2025/07/fc26-eacom-hero-md-7x2-xl.jpg.adapt.crop7x2.1920w.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;

    display: grid;

    grid-template-columns: 4rem 1fr 2fr;
    grid-template-rows: 4rem 1fr 4rem;


}
.juegos-destacados{
    display: grid;
    grid-row-start: 2;
    grid-column-start: 1;
    align-items: center;
    text-align: center;
    background-color: rgb(236, 236, 236);
}
.juegos-destacados h3{
    color: black;
    font-size: 2rem;
    text-align: center;
    font-size: 2.5rem;
    margin: 50px;
}
.juegos-productos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.juegos-productos img{
    height: 15vw;
    width: 15vw;
    padding: 15px;

}
.juegos-productos img:hover{
    cursor: pointer;
    background-color: dodgerblue;

}


    
.text{
    grid-row-start: 2;
    grid-column-start: 2;
    align-items: center;
    text-align: center;
}

.text h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: eurostile, sans-serif;
}

.text p{
    color: white;
    text-align: center;
    font-size: 1.15rem;
    padding-top: 2%;
    padding-bottom: 6%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text button{
    border: 0;
    text-align: center;
    align-items: center;
    border-radius: 12vw;
    background-color: #E53935;
    font-size: 1.1rem;
    padding: 3vh 4vh;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.text button:hover{
    transform: scale(1.01);
    transition: .1s;
}

.info_1{
    background-image: url("https://media.contentapi.ea.com/content/dam/eacom/subscription/component-assets/common/ea-play-product-conversion-gradient-jpg-2020-xl.jpg.adapt.1920w.jpg");
    width: 100%;
    height: 15vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
;
    display: grid;

    grid-template-columns: 6rem 1fr 1fr 6rem;
    grid-template-rows: 1fr;
}

.text-info{
    grid-row-start: 1;
    grid-column-start: 2;
    align-items: center;
    text-align: center;
    padding-top: 5%;
    font-size: 2.4vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.img-info{
    grid-column-start: 3;
    grid-row-start: 1;
    align-items: center;
    text-align: center;
}

.img-info img{
    height: 3vw;
    width: 9.5vw;
    padding-top: 4%;
}

.img-info button{
    border: 0; 
    text-align: center;
    border-radius: 0.3vh;
    padding: 2.5vh 8vh;
    position: absolute;
    margin-top: 3.5vh;
    margin-left: 3vh;
    margin-right: 6vh;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: #E53935;
    color: white;
}

.img-info button:hover{
    transform: scale(1.05);
    transition: .1s;
}

.banner-celeste{
    background-color: #6FB0D6;
    width: 100%;
    height: 13vh;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
    
.banner-celeste .text-banner-celeste{
    margin-left: 70px;
    color: #1a1a1a;
    font-size: 1.7vh;
    width: 70%;
    align-items: stretch;
}

.banner-celeste button{
    background-color: #6FB0D6;
    height: 7vh;
    width: 9.5vw;
    justify-content: right;
    font-size: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10vh;
    border-radius: 5px;
}

.impact-report{
    display: flex;
    background-color: #101057;
    height: 65vh;
    justify-content: center;
}

.impact-report .info-impact-report{
    width: 35vw;
    margin: auto;
    color: white;
    justify-content: center;
}

.impact-report .info-impact-report p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.impact-report button{
    background-color: #101057;
    color: white;
    border-radius: 5px;
    padding: 1rem;
    border-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3vh;
    margin-right: 1rem;
}

.impact-report img{
    width: auto;
}


.equipo-ea{
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    padding: 70px;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.equipo-ea a{
    margin-top: 8px;
    margin-bottom: 15px;
    margin-right: 40px;
}
.contacto{
    margin-left: 70px;
}
.contacto img{
    height: 1.8rem;
    width: 1.8rem;
    margin-left: 25px;
    text-align: left;
}
.contacto a{
    margin: -5px;
    align-items: end;
    text-align: left;

}
.contacto h3{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: end;
    margin-left: 10px;
}
.terminos-y-condiciones{
    display: flex;
    flex-direction: row;
    padding: 15px 93px 40px 93px;
    margin-left: 250px;
}
.logo-footer img{
    height: 3rem;
    width: auto;
}
.cajon{
    margin-left: 32px;
}
.links{
    display: grid;
    grid-auto-flow: column;
    overflow-wrap: break-word;
    margin-bottom: 10px;
}
.links-1 a{
    margin: 16px 48px 10px 0px;
}
.idiomas{
    display: grid;
    grid-auto-flow: column;
    overflow-wrap: break-word;
    column-gap: 41px;
}
.cajon-2{
    display: grid;
    grid-auto-flow: column;
    overflow-wrap: break-word;
}
.cajon-3{
    display: block;
    align-items: center;
}
.terminos-legales {
    display: flex;
    flex-wrap: wrap;

}
.terminos-legales a{
    margin: 16px 48px 10px 0px;
}
.derechos{
    margin-top: 5px;
}
.verificacion{
    margin-top: 50px;
    margin-left: 50px;
}
