@import url(https://db.onlinewebfonts.com/c/e770a9e3ae1a8be2089472bc6391f697?family=Electronic+Arts+Display);
*{
    margin: 0;
    padding: 0;
    font-family: electronic arts display, Arial, Helvetica, sans-serif;
}
.nav-ea{
    background-color: rgb(31, 31, 31);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.nav-ea img{
    border-radius: 3%;
    color: white;
}

.user{
    height: 1.3vw;
    width: 1.2vw;
    padding-top: 1.5vh; 
    padding-right: 3.4vh;
}
.ea-logo{
    height: 2vw;
    width: 2.5vw;
    padding: 0.7vh 3vh; 
}
.help{
    height: 2vw;
    width: auto;
    padding: 0.7vh 3vh; 
}
.nav-barra{
    background-color: white;
    display: flex;
    align-items: center;
    height: 3rem;
    width: 100%;
    position:fixed;
}
.nav-barra .icono-tres-puntos{
    height: 1.5rem;
    width: auto;
    margin-right: -15px;
    margin-left: -5px;
}
.nav-barra .ea-logo-2{
    height: 2rem;
    margin-right: 20px;
    margin-left: 10px;
    width: auto;
}
.nav-barra a{
    margin-left: 20px;
    color: black;
}
.about{
    background-image: url("https://media.contentapi.ea.com/content/dam/ea/fc/fc-26/images/2025/07/fc26-eacom-hero-md-7x2-xl.jpg.adapt.crop7x2.1920w.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;

    display: grid;

    grid-template-columns: 4rem 1fr 2fr;
    grid-template-rows: 4rem 1fr 4rem;


}

.text2{
    text-align: center;
    background-color: rgb(236, 236, 236);
    font-size: 6vh;
    padding-top: 4%;
    padding-bottom: 2.5%;
}
.juegos-destacados{
    display: grid;
    grid-template-rows: 0.1fr 0.1fr;
    grid-template-columns: 12rem 1fr 1fr 1fr 15rem;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    background-color: rgb(236, 236, 236);
}
.juegos-destacados img{
    height: 22vw;
    width: auto;
}
.juegos-destacados a:hover ::before{
    background: linear-gradient(to right, rgb(0, 0, 51) 10%, #E53935 90%);
    opacity: 0.9;
    transition: .4s;
    cursor: pointer;
}
.juegos-destacados a:hover img{
    transform: translateY(-5vh);
    transition: .4s;
}
.juegos-destacados p{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    background: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .4s;
    color: white;
}
.juegoX1{
    background-image: url("https://media.contentapi.ea.com/content/dam/gin/images/2025/08/bf6-box-art-1x1.jpg.adapt.crop1x1.767p.jpg");
    width: 100%;
    height: 46vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    grid-row-start: 1;
    grid-column-start: 2;
    position: relative;
}
.juegoX1 ::before{
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.juegoX1 img{
    align-items: center;
    height: 3.5vh;
    width: auto;
    padding-top: 45%;
    position: relative;
}
.juegoX2{
    background-image: url("https://media.contentapi.ea.com/content/dam/gin/images/2025/07/fc-26-key-art.jpg.adapt.crop1x1.767p.jpg");
    width: 100%;
    height: 46vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    grid-row-start: 1;
    grid-column-start: 3;
    position: relative;
}
.juegoX2 ::before{
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.juegoX2 img{
    align-items: center;
    height: 6vh;
    width: auto;
    padding-top: 45%;
    position: relative;
}
.juegoX3{
    background-image: url("https://media.contentapi.ea.com/content/dam/gin/images/2025/03/f1-25-iconic-gamebox-1x1.jpg.adapt.crop1x1.767p.jpg");
    width: 100%;
    height: 46vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    grid-row-start: 1;
    grid-column-start: 4;
    position: relative;
}
.juegoX3 ::before{
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.juegoX3 img{
    align-items: center;
    height: 5vh;
    width: auto;
    padding-top: 45%;
    position: relative;
}
.juegoX4{
    background-image: url("https://media.contentapi.ea.com/content/dam/gin/images/2024/12/splitkeyart1x1.jpg.adapt.crop1x1.767p.jpg");
    width: 100%;
    height: 46vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    grid-row-start: 2;
    grid-column-start: 2;
    position: relative;
}
.juegoX4 ::before{
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.juegoX4 img{
    align-items: center;
    height: 10vh;
    width: auto;
    padding-top: 40%;
    position: relative;
}
.juegoX5{
    background-image: url("https://media.contentapi.ea.com/content/dam/gin/images/2017/01/the-sims-4-keyart.jpg.adapt.crop1x1.767p.jpg");
    width: 100%;
    height: 46vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    grid-row-start: 2;
    grid-column-start: 3;
    position: relative;
}
.juegoX5 ::before{
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0
}
.juegoX5 img{
    align-items: center;
    height: 8vh;
    width: auto;
    padding-top: 45%;
    position: relative;
}
.juegoX6{
    background-image: url("https://media.contentapi.ea.com/content/dam/gin/images/2019/01/apex-legends-keyart.jpg.adapt.crop1x1.767p.jpg");
    width: 100%;
    height: 46vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    grid-row-start: 2;
    grid-column-start: 4;
    position: relative;
}
.juegoX6 ::before{
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.juegoX6 img{
    align-items: center;
    height: 13vh;
    width: auto;
    padding-top: 38%;
    position: relative;
}
 
.text{
    grid-row-start: 2;
    grid-column-start: 2;
    align-items: center;
    text-align: center;
}

.text h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: eurostile, sans-serif;
}

.text p{
    color: white;
    text-align: center;
    font-size: 1.15rem;
    padding-top: 2%;
    padding-bottom: 6%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text button{
    border: 0;
    text-align: center;
    align-items: center;
    border-radius: 12vw;
    background-color: #E53935;
    font-size: 1.1rem;
    padding: 3vh 4vh;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.text button:hover{
    transform: scale(1.01);
    transition: .1s;
}

.info_1{
    background-image: url("https://media.contentapi.ea.com/content/dam/eacom/subscription/component-assets/common/ea-play-product-conversion-gradient-jpg-2020-xl.jpg.adapt.1920w.jpg");
    width: 100%;
    height: 15vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
;
    display: grid;

    grid-template-columns: 6rem 1fr 1fr 6rem;
    grid-template-rows: 1fr;
}

.text-info{
    grid-row-start: 1;
    grid-column-start: 2;
    align-items: center;
    text-align: center;
    padding-top: 5%;
    font-size: 2.4vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.img-info{
    grid-column-start: 3;
    grid-row-start: 1;
    align-items: center;
    text-align: center;
}

.img-info img{
    height: 3vw;
    width: 9.5vw;
    padding-top: 4%;
}

.img-info button{
    border: 0; 
    text-align: center;
    border-radius: 0.3vh;
    padding: 2.5vh 8vh;
    position: absolute;
    margin-top: 3.5vh;
    margin-left: 3vh;
    margin-right: 6vh;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: #E53935;
    color: white;
}

.img-info button:hover{
    transform: scale(1.05);
    transition: .1s;
}

.banner-celeste{
    background-color: #6FB0D6;
    width: 100%;
    height: 13vh;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
    
.banner-celeste .text-banner-celeste{
    margin-left: 70px;
    color: #1a1a1a;
    font-size: 1.7vh;
    width: 70%;
    align-items: stretch;
}

.banner-celeste button{
    background-color: #6FB0D6;
    height: 7vh;
    width: 9.5vw;
    justify-content: right;
    font-size: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10vh;
    border-radius: 5px;
}

.impact-report{
    display: flex;
    background-color: #101057;
    height: 65vh;
    justify-content: center;
}

.impact-report .info-impact-report{
    width: 35vw;
    margin: auto;
    color: white;
    justify-content: center;
}

.impact-report .info-impact-report p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.impact-report button{
    background-color: #101057;
    color: white;
    border-radius: 5px;
    padding: 1rem;
    border-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3vh;
    margin-right: 1rem;
}

.impact-report img{
    width: auto;
}


footer{
    height: 100%;
    width: auto;
}

.equipo-ea{
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: space-between;
    padding: 12px 76px 12px 76px;
    flex-direction: row;
    align-items: center;
}
.link{
    margin-left: 275px;
}

.equipo-ea a{
    margin-top: 8px;
    margin-bottom: 15px;
    margin-right: 40px;
}
.contacto{
    margin-right: 355px;
}
.contacto img{
    height: 1.8rem;
    width: 1.8rem;
    margin-left: 25px;
    text-align: left;
    overflow: hidden;
    border-radius: 5px;
    float: left;
}
.contacto a{
    margin: -5px;
    align-items: end;
    text-align: left;

}
.contacto h3{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: end;
    margin-left: 10px;
}
.terminos-y-condiciones{
    display: flex;
    flex-direction: row;
    padding: 15px 93px 40px 93px;
    margin-left: 250px;
}
.logo-footer img{
    height: 3rem;
    width: auto;
}
.cajon{
    margin-left: 32px;
}
.links{
    display: grid;
    grid-auto-flow: column;
    overflow-wrap: break-word;
    margin-bottom: 10px;
}
.links-1 a{
    margin: 16px 48px 10px 0px;
}
.idiomas{
    display: grid;
    grid-auto-flow: column;
    overflow-wrap: break-word;
    column-gap: 41px;
}
.cajon-2{
    display: grid;
    grid-auto-flow: column;
    overflow-wrap: break-word;
}
.cajon-3{
    display: block;
    align-items: center;
}
.terminos-legales {
    display: flex;
    flex-wrap: wrap;

}
.terminos-legales a{
    margin: 16px 48px 10px 0px;
}
.derechos{
    margin-top: 5px;
}
.verificacion{
    margin-top: 50px;
    margin-left: 50px;
}
